
 /*------------- Whole Document---------------- */

body {
    font-family: 'Open Sans';
    font-size: 19px;
}

/*----------------- links ---------------------*/

a { 
  color: #e61b72;
}

 a:hover {
    color: #3689bf; /* darker color when hovering */
  }
  
/*----------------- center headings ---------------------*/  
h1, h2, h3, h4 {
  text-align: center;
}